---
### Setup Host Variables ###
root:
  username:
  pass:
  keypath:
  keyfile:
  remote_keypath:

ansible:
  username:
  password:
  keypath:
  keyfile:

### K3S installation variables ###
log2ram:
  folder_size:

vip:
  ip:
  pass:

k3s:
  version:

### Storage configuration ###
brick_mount:
gluster_mount:

vg:
  name:
  drives:

tpool:
  name:
  size:

lvs:
- name:
  size:

### List volumes to remove ###
lvs_remove:
