{
  "clusters": [
    {
      "nodes": [
        {% for item in groups['pikubed_cluster'] -%}
        {
          "node": {
            "hostnames": {
              "manage": [
                "{{ item }}"
              ],
              "storage": [
                "{{ hostvars[item].ansible_default_ipv4.address }}"
              ]
            },
            "zone": 1
          },
          "devices": [
            {% for device in heketi.devices -%}
            "{{ device }}"{{ "," if not loop.last }}
            {% endfor -%}
          ]
        }{{ "," if not loop.last }}
        {% endfor -%}
      ]
    }
  ]
}
